<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-gray">Pokehelper2</h1>
    <h2 class="text-gray">このページはユーザーがアカウント作成に使うページとする予定</h2>
    <h2 class="text-gray">のちにindexページを作成し、そこから編集をするようにする。</h2>
    <div class="row">
      <div class="col-md-offset-3 col-md-3">
        <%= link_to 'Sign up', new_user_path, class: 'btn btn-block btn-gray' %>
      </div>
      <div class="col-md-3">
        <%= link_to 'Log in', '#',class: 'btn btn-block btn-gray' %>
      </div>
    </div>
  </div>
</div>